{% extends 'base.html.twig' %}

{% block title %}Artwork index{% endblock %}

{% block body %}
    <h1>Artwork list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ObjectName</th>
                <th>Title</th>
                <th>IsHighlight</th>
                <th>IsPublicDomain</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artwork in artworks %}
            <tr>
                <td>{{ artwork.objectName }}</td>
                <td>{{ artwork.title }}</td>
                <td>{{ artwork.isHighlight ? 'Yes' : 'No' }}</td>
                <td>{{ artwork.isPublicDomain ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_artwork_show', {'id': artwork.id}) }}">show</a>
                    <a href="{{ path('app_artwork_edit', {'id': artwork.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">No records found in database</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artwork_new') }}">Create new</a>
{% endblock %}
